{% extends 'base.html.twig' %}

{% block content %}

    <div v-cloak id="vue-login" class="flex-row flex-center width-50 offset-25 mobile-width-100 mobile-offset-0">
        <form class="width-100" action="{{ path('login') }}" method="post">
            <fieldset class="width-100">

                <div class="form-row">
                    <label class="width-33 mobile-width-100" for="username" title="{{ 'user.email' | trans }}">{{ 'user.email' | trans }}:</label>
                    <input class="width-66 mobile-width-100" type="text" id="username" name="_username" value="{{ username }}" placeholder="{{ 'input.required' | trans }}">
                </div>

                <div class="form-row">
                    <label class="width-33 mobile-width-100" for="password" title="{{ 'user.password' | trans }}">{{ 'user.password' | trans }}:</label>
                    <input class="width-66 mobile-width-100" type="password" id="password" name="_password" placeholder="{{ 'input.required' | trans }}">
                </div>

                <div class="form-row">
                    <label class="width-33 offset-33 mobile-width-50 mobile-offset-0" for="remember_me" title="{{ 'security.remember_me' | trans }}">
                        <input type="checkbox" id="remember_me" name="_remember_me">
                        <span>{{ 'security.remember_me' | trans }}</span>
                    </label>
                    <label class="width-33 mobile-width-50 text-right">
                        <a href="{{ path('forgot_password') }}">{{ 'password.forgot' | trans }}</a>
                    </label>
                </div>

                <div class="form-row">
                    <div class="offset-33 mobile-offset-0">
                        <button type="submit">{{ 'button.login' | trans }}</button>
                    </div>
                    <div class="flex-grow text-right">

                        {% if hasGoogle %}
                            <button type="button" title="Log in using Google" @click="google">
                                <span class="fa fa-google"></span>
                            </button>
                        {% endif %}

                        {% if hasGitHub %}
                            <button type="button" title="Log in using GitHub" @click="github">
                                <span class="fa fa-github"></span>
                            </button>
                        {% endif %}

                        {% if hasBitbucket %}
                            <button type="button" title="Log in using Bitbucket" @click="bitbucket">
                                <span class="fa fa-bitbucket"></span>
                            </button>
                        {% endif %}

                    </div>
                </div>

            </fieldset>
        </form>
    </div>

{% endblock %}

{% block scripts %}

    {% if error != null %}
        <script>eTraxis.error = {{ error.message | trans | json_encode | raw }};</script>
    {% endif %}

    <script src="{{ asset('js/security/login.js') }}"></script>

{% endblock %}
