{% extends 'base.html.twig' %}

{% block content %}

    <div class="flex-row cross-axis-center width-50 offset-25 mobile-width-100 mobile-offset-0">

        <form class="width-100" action="{{ path('login') }}" method="post">
            <fieldset class="width-100">

                <div class="flex-row cross-axis-baseline">
                    <label class="width-33 mobile-width-100" for="username" title="{{ 'user.email' | trans }}">{{ 'user.email' | trans }}:</label>
                    <input class="width-66 mobile-width-100" type="text" id="username" name="_username" value="{{ username }}" placeholder="{{ 'input.required' | trans }}">
                </div>

                <div class="flex-row cross-axis-baseline">
                    <label class="width-33 mobile-width-100" for="password" title="{{ 'user.password' | trans }}">{{ 'user.password' | trans }}:</label>
                    <input class="width-66 mobile-width-100" type="password" id="password" name="_password" placeholder="{{ 'input.required' | trans }}">
                </div>

                <div class="flex-row cross-axis-baseline">
                    <label class="flex-row cross-axis-center no-padding width-66 offset-33 mobile-width-100 mobile-offset-0" for="remember_me" title="{{ 'security.remember_me' | trans }}">
                        <input type="checkbox" id="remember_me" name="_remember_me">
                        <span>{{ 'security.remember_me' | trans }}</span>
                    </label>
                </div>

                <div class="flex-row cross-axis-baseline">
                    <div class="offset-33 mobile-offset-0">
                        <button type="submit">{{ 'button.login' | trans }}</button>
                    </div>
                    <div class="flex-grow text-right">

                        {% if hasGoogle %}
                            <button type="button" title="Log in using Google" onclick="location.href = '{{ path('oauth_google') }}'">
                                <span class="fa fa-google"></span>
                            </button>
                        {% endif %}

                        {% if hasGitHub %}
                            <button type="button" title="Log in using GitHub" onclick="location.href = '{{ path('oauth_github') }}'">
                                <span class="fa fa-github"></span>
                            </button>
                        {% endif %}

                        {% if hasBitbucket %}
                            <button type="button" title="Log in using Bitbucket" onclick="location.href = '{{ path('oauth_bitbucket') }}'">
                                <span class="fa fa-bitbucket"></span>
                            </button>
                        {% endif %}

                    </div>
                </div>

                {% if error != null %}
                    <div class="flex-row cross-axis-baseline">
                        <p class="danger offset-33">{{ error.message | trans }}</p>
                    </div>
                {% endif %}

            </fieldset>
        </form>

    </div>

{% endblock %}
