{% macro item(url, caption, icon) %}
    <a href="{{ url }}" title="{{ caption }}">
        <span class="hide-on-mobile fa {{ icon }}" aria-hidden="true"></span>
        <span class="hide-on-tablet">{{ caption }}</span>
    </a>
{% endmacro %}

{% import _self as nav %}

<nav>
    <div class="hide-on-desktop hide-on-tablet fa fa-bars fa-lg" aria-hidden="true"></div>
    <h1 class="hide-on-desktop hide-on-tablet title">{{ title ?? 'eTraxis' }}</h1>

    <ul>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li>{{ nav.item(path('logout'), 'nav.logout' | trans,  'fa-sign-out') }}</li>
        {% else %}
            <li>{{ nav.item(path('login'), 'nav.login' | trans, 'fa-sign-in') }}</li>
        {% endif %}
    </ul>

    <div class="hide-on-mobile username">{{ app.user.fullname ?? null }}</div>

    <div class="logo">
        <a href="{{ path('homepage') }}" title="{{ 'nav.homepage' | trans }}">
            <img src="{{ asset('etraxis.svg') }}" alt="">
        </a>
    </div>
</nav>
