{% extends 'base.html.twig' %}

{% set title = 'users' | trans %}

{% block content %}

    <div v-cloak id="vue-users" class="width-100">
        <div class="flex-row">
            <div class="flex-column width-100">
                <datatable class="width-100" id="users" :data="users" :checkboxes="false" @click="viewUser">
                    <column id="fullname">{{ 'user.fullname' | trans }}</column>
                    <column id="email">{{ 'user.email' | trans }}</column>
                    <column id="admin" :filter-with="permissions">{{ 'user.permissions' | trans }}</column>
                    <column id="provider" :filter-with="providers">{{ 'user.authentication' | trans }}</column>
                    <column id="description" :width="'100%'">{{ 'user.description' | trans }}</column>
                </datatable>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{{ asset('js/users/index.js') }}"></script>

{% endblock %}
